* {
  box-sizing: border-box;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  background: #ddd;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

@media only screen and (max-width: 600px) {
.grid-sizer,
.grid-item {
  width: 50%;
}
}

.grid-item {
  float: left;
  /* margin-bottom: 1px; */
}

.grid-item img {
  display: block;
  max-width: 100%;
}
