
body {    
    margin: 0 !important;
    padding: 0 !important;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  /* visibility: hidden;*/
  width: 40%;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote div {
  display: inline;
}

.grid-item--gigante {
    width: 30%;
    height: 360px;
    z-index: 2; /* above other items */
  }
  
  .grid-item:hover {
    background: #A2C;
    border-color: white;
    cursor: pointer;
  }
